/* About Me ==================================================*/
.identity-area {
	label:after {
    	content: ":";
    	position: absolute;
    	right: 0;
    	width: 5px;
    	top: 0;
    }
}

.img-profile {
    margin: auto;
}

.aboutme-title {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}