/*Blog =======================================================*/
// #index-title {
// 	color: $blue;
// }

.read-more, .read-more:hover {
    color: #000;
}

.well {
    margin-top: 15px;
}

.side-input {
    border-radius: 5px;
}

/*Paginator ==================================================*/
.pagination {
	li {
		a{
    		background-color: $blue;
    		color: #FFF;
    	}
    }
}

.paginator {
	a{
    	color: #000;
    }
}

.pagination{
	.disabled{
		span{
			background-color: $blue;
			color: #FFF;
		}
	}
}

.pagination {
	.active {
		span:hover {
		    background-color: $light-blue;
		    border-color: $light-blue;
		    color: #FFF;
		}
	}
}

.pagination {
	.active {
		span {
		    background-color: #FFF;
		    border-color: #FFF;
		    color: $blue;
		}
	}
}