/*NavBar =====================================================*/
.navbar-inverse, .navbar-brand{
    background-image: linear-gradient(to bottom, #000 0, #000 100%);
    color: #FFF;
  }

.navbar-inverse{
	.navbar-brand {
    	color: $grey;
	}
}

.navbar-inverse {
	.navbar-nav {
		li {
			a {
    			color: $grey;
    		}
    	}
	}
}

.dropdown-menu{
	li {
		a {
    		color: #000;
		}
	}
}

.signin {
    text-align: right;
    color: #FFF;
}