section {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#container{
    width: 400px;
    background-color: #000080;
    border: 1px solid #000080;
    border-radius: 10px;
}

.textBoxes {
    width: 116px;
    height: 85px;
    border: 1px solid #fbeaff;
    border-radius: 10px;
    margin: 5px;
    background-color: #fbeaff;
    font-size: 36px;
}

.button {
    width: 85px;
    height: 85px;
    border: 1px solid #abfcac;
    border-radius: 10px;
    margin: 6px;
    font-size: 36px;
    background-color: #abfcac;
    outline: none;
}