@import url("http://weloveiconfonts.com/api/?family=entypo");

body{
	font-family: 'Arvo', serif;
  background: #BDBDBD;
  color: #000;
}

i {
	margin-right: 5px;
}

hr.style2 {
  border-top: 3px double #fff;
}

/*.search-input, .subscribe-input {
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}*/

/*NavBar ======================================================*/
.navbar-inverse, .navbar-brand{
  background-image: linear-gradient(to bottom, #000 0, #000 100%);
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #BDBDBD;
}

.navbar-inverse .navbar-nav>li>a {
    color: #BDBDBD;
}

.dropdown-menu>li>a{
  color: #000;
}

.signin {
  text-align: right;
  color: #fff;
}

/*Paginator ==================================================*/
.pagination>li>a{
  color: #000;
}

.paginator>a{
  color: #000;
}

.pagination>.active>span:hover {
  background-color: #000;
  border-color: #000;
  color: darkgrey;
}

.pagination>.active>span {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: darkgrey;
}

/*Blog =======================================================*/
.read-more, .read-more:hover {
  color: #000;
}

.well {
  margin-top: 15px;
}

.side-input {
  border-radius: 5px;
}

/*Protfolio ======================*/
.mix{
  margin: 5px 49px;
}

.desc-portfolio{
  text-align: center;
}

.preview-portfolio, .preview-portfolio:hover {
  color: #333;
}

img.grayscale
{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
img.grayscale:hover
{
    filter: none;
    -webkit-filter: none;
}

/*Footer ====================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 25px 0 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
}