/*NavBar =====================================================*/
@import url("http://weloveiconfonts.com/api/?family=entypo");
.navbar-inverse, .navbar-brand {
  background-image: linear-gradient(to bottom, #000 0, #2D2D2D 100%);
  color: #FFF; }

.navbar-inverse .navbar-brand {
  color: #DDD; }

.navbar-inverse .navbar-nav li a {
  color: #DDD; }

.dropdown-menu li a {
  color: #000; }

.signin {
  text-align: right;
  color: #FFF; }

/* About Me ==================================================*/
.identity-area label:after {
  content: ":";
  position: absolute;
  right: 0;
  width: 5px;
  top: 0; }

.img-profile {
  margin: auto; }

.aboutme-title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff; }

/* Resume ====================================================*/
/*col-md-8 ==============*/
.title.with-icon {
  padding-left: 50px; }

.title {
  border-bottom: 1px solid #fff;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 1.75em; }

.icn-title {
  margin-right: 5px;
  display: inline-block;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  background: #000;
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
  top: -6px;
  min-height: 40px;
  padding-bottom: 13px;
  border-radius: 5px; }

.title .icn-title:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.time-line .item-event .date {
  position: absolute;
  left: -32px;
  top: -10px;
  border-radius: 50%;
  background: #25CED1;
  display: inline-block;
  padding: 12px 7px;
  text-align: center;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 5px solid #DDD; }

.time-line .item-event.current .date {
  border: 5px solid #DDD;
  background: #1977F6; }

.time-line .item-event.current .event-content {
  border: 3px solid #1977F6;
  margin-left: 3px; }

.time-line .item-event .event-content {
  position: relative;
  border: 3px solid #fff;
  padding: 10px 20px;
  border-radius: 0 10px 10px; }

.time-line .item-event {
  position: relative;
  padding-left: 15px;
  border-left: 3px solid #fff;
  margin-left: 25px;
  padding-bottom: 30px;
  padding-top: 10px; }

.time-line .item-event .event-content .location {
  text-transform: uppercase;
  font-weight: 700;
  color: #000; }

.resume-li {
  margin-left: 15px; }

/*col-md-4 ==============*/
.caption-skill {
  display: block;
  margin-bottom: 5px; }

.progress {
  background-image: linear-gradient(to bottom, #DDD, #FFF 100%);
  background-repeat: repeat-x;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #F5F5F5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.list-skills li .progress {
  height: 20px;
  box-shadow: none;
  overflow: inherit; }

.list-skills li .progress .progress-bar {
  background-image: linear-gradient(to bottom, #0051BF, #1977F6 100%);
  border-radius: 5px;
  text-align: right;
  position: relative;
  box-shadow: none; }

.list-skills li .progress .progress-bar span {
  position: relative;
  bottom: -15px;
  font-size: 1em;
  color: #000;
  right: -13px;
  display: inline-block;
  background: #FFF;
  padding: 1px 5px;
  border-radius: 5px; }

:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.list-skills li .progress .progress-bar span:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  border-bottom: 5px solid #FFF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

.deviter {
  height: 1px;
  margin: 10px 0;
  border-bottom: 1px dashed #fff; }

/* Portfolio =================================================*/
.mix {
  margin: 5px 49px;
  display: inline-block; }

.desc-portfolio {
  text-align: center; }

.preview-portfolio {
  color: #000; }

.preview-portfolio:hover {
  color: #25CED1; }

.item-portfolio-name {
  color: #1977F6; }

.gallery {
  width: 100%;
  height: auto; }

#rem_github, #adlister_repo {
  color: #1977F6; }

#adlister_repo:hover, #rem_github:hover {
  color: #25CED1; }

img.grayscale {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */ }

img.grayscale:hover {
  filter: none;
  -webkit-filter: none; }

/*Blog =======================================================*/
#index-title {
  color: #1977F6; }

.read-more, .read-more:hover {
  color: #000; }

.well {
  margin-top: 15px; }

.side-input {
  border-radius: 5px; }

/*Paginator ==================================================*/
.pagination li a {
  background-color: #1977F6;
  color: #FFF; }

.paginator a {
  color: #000; }

.pagination .disabled span {
  background-color: #1977F6;
  color: #FFF; }

.pagination .active span:hover {
  background-color: #25CED1;
  border-color: #25CED1;
  color: #FFF; }

.pagination .active span {
  background-color: #FFF;
  border-color: #FFF;
  color: #1977F6; }

/* Main =====================================================*/
body {
  font-family: "Arvo", serif;
  background: #DDD;
  color: #000; }

i {
  margin-right: 5px; }

hr {
  border-top: 3px double #FFF; }

/*Footer ====================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  padding: 25px 0 0;
  text-align: center; }

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background: #FFF;
  overflow: hidden;
  cursor: pointer; }

.social:hover {
  color: #25CED1; }

/*# sourceMappingURL=main.css.map */
